*{
    margin: 0px;
    padding: 0px;
}
:root{
    /*first mode*/
    --first-color: ;
    --second-color: ;
    --third-color: ;
    --fourth-color: ;
}
.first-mode{
    --first-color:  #023535;
    --second-color: #015958;
    --third-color:  #008F8C;
    --fourth-color: #0CABA8;
}
.second-mode{
    --first-color:  #1F7A48;
    --second-color: #2BAE66;
    --third-color:  #37f38c;
    --fourth-color: #DBF227;
    --fiveth-color: #8986EB;
}
.flex{
    display: flex;
}
#transition-mode{
    transition: 3s;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--second-color);
}
header{
    padding: 10px;
    color: rgba(255, 255, 255, 0.925);
    text-align: center;
    background-color: var(--third-color);
}
main{
    border-radius: 10px;
    padding: 30px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
    background-color: var(--first-color);
}
div#res{
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 3px;
    text-align: right;
    margin: 0px 0px 5px 0px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}
button.linha_dupla{
    height: 100px;
}
button.coluna_dupla{
    width: 104px;
}
button{
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin: 1px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-color: white;
}
button:hover{
    background-color: lightgray;
}

div.header-input{
    justify-content: flex-end;
}
input[type=button]{
    padding: 5px 20px;
    border: none;
    border-radius: 15%;

    background: none;
    background-image: url(assets/flor.png);   
    background-repeat: no-repeat;
    background-position-x: center;

    cursor: pointer;
}