*{
    margin: 0px;
    padding: 0px;
}
/* :root{
    /* --first-color:  #023535;
    --second-color: #015958;
    --third-color:  #008F8C;
    --fourth-color: #0CABA8; 
} */
.first-mode{
    /* --first-color:  #023535;
    --second-color: #015958;
    --third-color:  #008F8C;
    --fourth-color: #0CABA8; */
   

    --first-color:  #202529 /*282834 1b1b2e94 260D36*/;
    --second-color: #32383D /*111127 352F4C*/;
    --third-color:  #4C555C /*624574*/;
    --fourth-color: #A1B4C4;
    
   
}
.second-mode{
    --first-color:  #C39F3C;
    --second-color: #563084;
    --third-color:  #C33C3C;
    --fourth-color: #C39F3C;
    /* --fiveth-color: ; */
}
.flex{
    display: flex;
}
.transition-mode{
    transition: 2s;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--second-color);
}
header{
    padding: 10px;
    color: rgba(255, 255, 255, 0.925);
    text-align: center;
    background-color: var(--third-color);
}
div.header-input{
    justify-content: flex-end;
}
input[type=button]{
    padding: 8px 20px;
    border: none;
    border-radius: 15%;

    background: none;
    background-repeat: no-repeat;
    background-position-x: center;

    cursor: pointer;
}
main{
    margin: auto;
    max-width: 720px;
    align-items: center;
}
div.container-calculator{
    border-radius: 10px;
    padding: 40px;   
    max-width: 270px;
    height: 340px;
    /*Caso queira usar essas propriedades, retire max-width e margin 
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute; */
    background-color: var(--first-color);
}
div#res{
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 3px;
    text-align: right;
    margin: 0px 0px 5px 0px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    text-overflow: ellipsis;
}
button.linha_dupla{
    height: 105px;
}
button.coluna_dupla{
    width: 104px;
}
button{
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin: 1px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-color: white;
}
button:hover{
    background-color: lightgray;
}
button.historic{
    background-image: url('assets/clock.svg');
}

div#list-of-historic{
    border-radius: 5px;
    margin: 30px;
    padding: 5px;
    width: 300px;
    height: 340px;
    background-color: var(--fourth-color);

    overflow: hidden;
}